body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
h1 {
    font-size: 3em;
    letter-spacing: .6em;
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
}

h2 {
    font-size: 1.5em;
    /* padding-bottom: 1em; */
}

h3 {
    font-size: 1.2em;
    /* padding-bottom: 1em; */
    font-weight: bold;
}

main {
    display: flex; /* Change display property to flex */
    flex-direction: column; /* Stack the columns vertically */
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainRight {
    width: 100%; /* Make the mainRight section cover the entire width */
}

#mainRight section {
    /* text-align: center; Center align the content within each section */
    width: 90%; /* Make each section cover the entire width of its container */
    margin: 0 auto; /* Center the sections horizontally */
    max-width: 1000px; /* Optionally, set a maximum width for better readability on larger screens */
}

#grayhighlighter {
    background-color: #f2f2f2; /* Set the background color to gray */
    padding: 2em; /* Add some padding for spacing */
    text-align: center;
}


